@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Selamlar Core Kampı Başladı - <small>03.09.2021</small></h1>
    <p>Ders 3 Kodlara Başladık <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
